@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
    --cor01: 242, 169, 126;
    --cor02: 81, 5, 27;
    --cor03: 22, 2, 20;
}

body {
    font-family: 'itim';
    background-color: black;
    background-image: url(../imagens/fundo2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffede3;
}

header {
    background-color: rgba(81, 5, 27, 0.5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin: -10px 0px 0px 0px;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
}

header h1 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

nav {
    margin-top: 20px;
}

nav a {
    background-color: rgba(81, 5, 27, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    color: #ffede3;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

nav a:hover {
    background-color: #F2A97E;
    text-decoration: underline;
}

main {
    margin-left: auto;
    background-color: rgba(81, 5, 27, 0.5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 70px;
    max-width: 450px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

main h1 {
    background-color: rgba(50, 3, 25, 0.5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

main > p {
    text-align: center;
    background-color: rgba(50, 3, 25, 0.5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

main img {
    display: block;
    margin: auto;
    width: 80%;
}

footer {
    background-color: rgba(81, 5, 27, 0.5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 5px;
    margin: auto;
    max-width: 500px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

footer p {
    padding: 0px;
    margin: 0px;
}